<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Console</title>
    </head>
    <body>
    	<th:block layout:fragment="content">
    		<div class="container mt-5 d-flex justify-content-center">
			<!-- Default form contact -->
		<form th:action="@{/console}" method="post" th:object="${application}" class="text-center border border-light p-5">

    		<p class="h4 mb-4">Create Application</p>

    <!-- Name -->
    <input type="text" th:field="*{applicationName}" class="form-control" placeholder="Application Name">
    <small style="color: red" th:if="${#fields.hasErrors('applicationName')}"  th:errors="*{applicationName}"></small>
	<br><br>
    <!-- Subject -->
    <label>Application Type</label>
    <select class="browser-default custom-select mb-4" th:field="*{applicationType}">
        <option value="WEB" selected>Web</option>
        <option value="DESKTOP">Desktop</option>
        <option value="MOBILE">Mobile</option>
    </select>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Save Application</button>

</form>
<!-- Default form contact -->
</div>
  		</th:block>
    </body>

</html>
