<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}">
<head>
    <title>Get Started - PartnerPortal</title>
</head>

<body>
<th:block layout:fragment="content">
    <main>
        <div class="container" >
            <section>
                <h3 class="h3 text-center mb-5" style="margin-top: 100px;">Get Started</h3>

                <img th:src="@{/images/steps.jpg}" /><br><br>

                <h5>Step 1: Register as Developer</h5><br><br>

                <h5>Step 2: Information Verification</h5><br><br>

                <h5>Step 3: Create an application</h5><br><br>

                <h5>Step 4: Obtain credentials</h5><br><br>

                <h5>Step 5: Shop authorization</h5><br><br>

                <h5>Step 6: Test & Go Live</h5><br><br>

            </section>
        </div>
    </main>
</th:block>
</body>

</html>
