<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Home</title>
    </head>
    <body>
    	<th:block layout:fragment="content">
		<!-- Full Page Intro -->
		  <div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">
		
		    <!-- Mask & flexbox options-->
		    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
		
		      <!-- Content -->
		      <div class="container">
		
		        <!--Grid row-->
		        <div class="row wow fadeIn">
		
		          <!--Grid column-->
		          <div class="col-md-6 mb-4 white-text text-center text-md-left">
		
		            <h1 class="display-4 font-weight-bold">PartnerPortal <br/> Open API Platform</h1>
		
		            <hr class="hr-light">
		
		              <h6>Integrate your application with our store platform.</h6>
		
		              <h6>Empowering E-Commerce through Applications</h6>
		
		            <a target="_blank" th:href="@{/getStarted}" class="btn btn-indigo btn-lg">Get Started
		              <i class="fa fa-graduation-cap ml-2"></i>
		            </a>
		
		          </div>
		          <!--Grid column-->
		
		          <!--Grid column-->
		          <div class="col-md-6 col-xl-5 mb-4">
		          	<img th:src="@{/images/open-platform-api.svg}" sec:authorize="isAuthenticated()" class="img-fluid"/>
					
		            <!--Card-->
		            <div class="card pt-4 pb-3" sec:authorize="isAnonymous()">
		
		              <!--Card content-->
		              <div class="card-body">
		
		                <!-- Form -->
		                <form th:action="@{/}" method="post">
		                  <!-- Heading -->
		                  <h3 class="dark-grey-text text-center">
		                    <strong>PartnerPortal <br> Open API Login</strong>
		                  </h3>
		                  <hr>
		
		                  <div class="md-form mb-5">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <input type="text" name="username"  id="email" class="form-control">
		                    <label for="email">Email address</label>
		                  </div>
		                  
		                  <div class="md-form">
		                    <i class="fa fa-user prefix grey-text"></i>
		                    <input type="password" name="password"  id="password" class="form-control">
		                    <label for="password">Password</label>
		                  </div>
		                  	<div th:if="${param.error != null}" class="red-text text-center" style="display: block;">
                            	Wrong email or password.
                        	</div>
                        	
                        	<div th:if="${param.success != null}" class="green-text text-center"  style="display: block;">
                            	You can now login your account
                        	</div>
							<br>
		                  <div class="text-center">
		                    <button class="btn btn-indigo">Sign in</button>
		                  </div>
		
		                </form>
		                <!-- Form -->
		
		              </div>
		
		            </div>
		            <!--/.Card-->
		
		          </div>
		          <!--Grid column-->
		
		        </div>
		        <!--Grid row-->
		
		      </div>
		      <!-- Content -->
		
		    </div>
		    <!-- Mask & flexbox options-->
		
		  </div>
		  <!-- Full Page Intro -->
		
		  <!--Main layout-->
		  <main>
		    <div class="container">
		
		      <hr class="my-5">

				<section>

					<h3 class="h3 text-center mb-5">About PartnerPortal Open API</h3>

					<!--Grid row-->
					<div class="row wow fadeIn">

						<!--Grid column-->
						<div class="col-lg-6 col-md-12 px-4">

							<!--First row-->
							<div class="row">
								<div class="col-1 mr-3">
									<i class="fa fa-code fa-2x indigo-text"></i>
								</div>
								<div class="col-10">
									<h5 class="feature-title">Easy Integration</h5>
									<p class="grey-text">We provide api platform services that integrates easily into your ecommerce application.</p>
								</div>
							</div>
							<!--/First row-->

							<div style="height:30px"></div>

							<!--Second row-->
							<div class="row">
								<div class="col-1 mr-3">
									<i class="fa fa-book fa-2x blue-text"></i>
								</div>
								<div class="col-10">
									<h5 class="feature-title">Open Platform API</h5>
									<p class="grey-text">Rich API endpoints for all the areas of e-commerce, like product, services, store, discounts management
									</p>
								</div>
							</div>
							<!--/Second row-->

							<div style="height:30px"></div>

							<!--Third row-->
							<div class="row">
								<div class="col-1 mr-3">
									<i class="fa fa-graduation-cap fa-2x cyan-text"></i>
								</div>
								<div class="col-10">
									<h5 class="feature-title">Rich Documentation</h5>
									<p class="grey-text">Rich documentation and interactive console to get development a less effort</p>
								</div>
							</div>
							<!--/Third row-->

						</div>
						<!--/Grid column-->

						<div class="col-lg-6 col-md-12 px-4 text-center">
							<img th:src="@{/images/open-platform-logo.svg}" width="75%" height="75%" class="img-fluid"/>
						</div>
					</div>
					<!--/Grid row-->
					<br>
				</section> <!--Section: Main features & Quick Start-->
		
		    </div>
		  </main>
		  <!--Main layout-->
  		</th:block>
    </body>

</html>
