<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sign up - PartnerPortal Open API</title>
        <th:block th:include="common/css :: cssFiles" />
    </head>
    <body>
            
		<!-- Material form register -->
		<div class="container mt-5 d-flex justify-content-center">
			<div class="card h-50">
			
			    <h5 class="card-header info-color white-text text-center py-4">
			        <strong>Sign up - PartnerPortal Open API</strong>
			    </h5>
			
			    <!--Card content-->
			    <div class="card-body px-lg-5 pt-0">
			
			        <!-- Form -->
			        <form class="text-center" th:action="@{/signUp}" method="post" th:object="${apiConsumer}"  style="color: #757575;">
			
			            <div class="form-row">
			                <div class="col">
			                    <!-- First name -->
			                    <div class="md-form">
			                        <input type="email" th:field="*{username}" id="email" class="form-control">
			                        <label for="email">Email</label>
			                        <small style="color: red"
                                       th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
			                    </div>
			                </div>
			                <div class="col">
			                    <!-- Last name -->
			                    <div class="md-form">
			                        <input type="password" th:field="*{password}" id="password" class="form-control">
			                        <label for="password">Password</label>
			                        <small style="color: red"
                                       th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			                    </div>
			                </div>
			            </div>
			
			            <!-- E-mail -->
			            <div class="md-form mt-0">
			                <input type="text" id="contactNumber"  th:field="*{contactDetails.contactNo}" class="form-control">
			                <label for="contactNumber">Contact Number</label>
			                <small style="color: red"
                                       th:if="${#fields.hasErrors('contactDetails.contactNo')}" th:errors="*{contactDetails.contactNo}"></small>
			            </div>
						<h4>Company and store info</h4>
			            <!-- Company Name -->
			            <div class="md-form">
			                <input type="text" id="companyName" class="form-control" th:field="*{companyDetails.companyName}" aria-describedby="materialRegisterFormPasswordHelpBlock">
			                <label for="companyName">Company Name</label>
			                <small style="color: red"
                                       th:if="${#fields.hasErrors('companyDetails.companyName')}" th:errors="*{companyDetails.companyName}"></small>
			            </div>
			
			            <!-- Phone number -->
			            <div class="md-form">
			                <input type="text" id="storeName" class="form-control" th:field="*{store.storeName}" aria-describedby="materialRegisterFormPhoneHelpBlock">
			                <label for="storeName">Store Name</label>
			                <small style="color: red"
                                       th:if="${#fields.hasErrors('store.storeName')}" th:errors="*{store.storeName}"></small>
			            </div>

                        <div th:if="${error != null}" class="red-text" style="display: block;">
                            <span th:text="${error}"></span>
                        </div>
			
			            <!-- Sign up button -->
			            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign up</button>

			            <hr>
			
			            <!-- Terms of service -->
			            <p>Already have an account? <a th:href="@{/}">Sign in</a></p>
			
			        </form>
			        <!-- Form -->
			
			    </div>
			
			</div>
		</div>
			<!-- Material form register -->
        <th:block th:include="common/js :: javascriptFiles" />
    </body>

</html>
