<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="cssFiles">

        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/site.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/container.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/grid.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/header.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/image.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/menu.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/divider.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/segment.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/form.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/input.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/button.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/list.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/message.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/templates/SemanticUI/components/icon.css}">
    </th:block>
</head>
</html>