<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="cssFiles">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  		<link th:href="@{/templates/MDBootstrap/css/bootstrap.min.css}" rel="stylesheet">
  		<link th:href="@{/templates/MDBootstrap/css/bootstrap.css}" rel="stylesheet">
  		<link th:href="@{/templates/MDBootstrap/css/mdb.min.css}" rel="stylesheet">
  		<link th:href="@{/templates/MDBootstrap/css/mdb.css}" rel="stylesheet">
	  	<link th:href="@{/templates/MDBootstrap/css/style.min.css}" rel="stylesheet">
    </th:block>
</head>
</html>