
<html xmlns:th="http://www.thymeleaf.org"
    	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<th:block th:fragment="footer">
			<footer class="page-footer text-center font-small mt-4 wow fadeIn">
			
			
			    
			
			    <!--Copyright-->
			    <div class="footer-copyright py-3">
			      	PartnerPortal Open API Platform: <br>
			      <a th:href="@{/}" target="_blank"> Copyright &copy; 2018 PartnerPortal. All rights reserved </a>
			    </div>
			    <!--/.Copyright-->
			
			  </footer>
  	</th:block>
  </body>
</html>