<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PartnerPortal Open API</title>
		
        <th:block th:include="common/css :: cssFiles" />
	</head>
	
	<body>
		<th:block th:include="common/topbar :: topbar" />
		
		<th:block layout:fragment="content" />
		
		<th:block th:include="common/footer :: footer" />
		
		<th:block th:include="common/js :: javascriptFiles"/>
	</body>

</html>